# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Secret keys or config files
*.env
